// sidebar
$sidebar-background: #2B2F3E;
$sidebar-text-color: #6f7073;

// main
$main-background: #f9f9f9;
$foreground: #fff;

// items
$items-text-color: #393d4b;
$background-button: #27ccc0;

// delete-button
$delete-button-border: #ff98ac;
$delete-button-color: #ff305a;

// input
$input-border: #e5e5e5;
$placeholder-color: #cccccc;

// titles
$title-color: #616573;

// active item
$active-item-color: #ff2f5a;

// comments color
$comment-color: #666666;
$avatar-dark: #47568c;
$avatar-light: #ff8a00;
$avatar-comment: #e6e6e6;
